[submodule "lib/cmake-conan"]
	path = cmake/cmake-conan
	url = https://github.com/conan-io/cmake-conan
	branch = develop2
[submodule "lib/enet"]
	path = lib/enet
	url = https://github.com/ZTzTopia/enet
[submodule "lib/eventpp"]
	path = lib/eventpp
	url = https://github.com/wqking/eventpp
